.img-control{
    width: 200px;
    height: 150px;
}


.house-detalis {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    margin-top: 10px;
  
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 4px 16px;
  }
  .button-control{
    background-color: rgb(141, 7, 118);
    line-height: 2rem;
    width: 155px;
    height: 35px;
    margin: 10px;
   
    border: 1px solid lightcoral;  
    color: white;
    border-radius:5px;
    cursor: pointer;
    
  }